html {
  width: 100%;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Comfortaa, "Tahoma", sans-serif;
  font-size: 20px;  
  font-weight: 400;
  color: #333333;  
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
}