.sertificat {
  padding-bottom: 20px; }

.sertificate__img {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  border-radius: 3px; }
  .sertificate__img:hover {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4); }
