/*-----------------------------------------------------------------------------------*/
/*  HEADER MAIN-MENU
/*-----------------------------------------------------------------------------------*/
.main-menu {  
  text-align: center;        
}

.main-menu li {
  display: inline-block;
  margin-right: 1em;  
}

.main-menu a {  
  font-size: 20px; 
  position: relative;
  display: inline-block;
  outline: none;  
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  height: 45px;  
  font-weight: 500;
  line-height: 45px;
  color: #000;
  text-decoration: none;
}

.main-menu a::before,
.main-menu a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #000;
  content: "";
  opacity: 0.2;
  transition: all 0.4s;
}

.main-menu a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;  
}

.main-menu a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.main-menu a:hover::before,
.main-menu a:hover::after {
  opacity: 1;
  width: 100%;
}

.main-menu a:hover::before {
  left: 50%;
  transform: rotate(0deg) translateX(-50%);  
}

.main-menu a:hover::after {
  right: 50%;
  transform: rotate(0deg) translateX(50%);  
}

/*-----------------------------------------------------------------------------------*/
/*  01. LOGO
/*-----------------------------------------------------------------------------------*/

.logo img {
  width: 140px;
  height: 140px;
}

.card {   
  background-image: url("img/fon.png");    
}

.card:first-child img {
  width: 18%;
  
}

.card:last-child img {
  max-width: 50%;
  border-radius: calc(0.25rem - 1px);  
}
