/*-----------------------------------------------------------------------------------*/
/*  TABLE OF CONTENTS
/*-----------------------------------------------------------------------------------*/
/*
  01. INDEX
  01.1. MAIN-MENU
  02. FOOTER  
  03. MAIN
  04. PORTFOLIO
  05. BLOG
  06. CONTACT
  
*/

@font-face {
  font-family: raleway-grid;
  src: url('../fonts/RalewayRegular.woff') format('woff');
}

@font-face {
  font-family: 'raleway-grid';
  src: url('../fonts/RalewayBold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'raleway-grid';
  src: url('../fonts/RalewayExtraBold.woff') format('woff');
  font-weight: 800;
}
  
@font-face {
  font-family: 'intro-grid';
  src: url('../fonts/IntroRegular.woff') format('woff');
}

/*-----------------------------------------------------------------------------------*/
/*  01. INDEX
/*-----------------------------------------------------------------------------------*/

.grid {
  display: grid;  
  align-content: center;
}

.page-header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293a43;
  opacity: 0.92;
}

.header-content {
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 60px 10px;  
}

.logo {
  width: 20%;
  margin: auto;
}

.header-content h1 {
  font-size: 60px;
  font-family: intro-grid, sans-serif;
  font-weight: normal;
}

.header-content .button {
  margin: 10px;
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #f0650d;
  padding: 10px 60px;
  font-size: 20px;  
  font-weight: 800;  
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer; }
  .button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .18;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0; }
  .button:focus, .button:hover {
    text-decoration: none;
    color: #fff; }
  .button:hover {
    background-color: #f37423; }
    .button:hover::after {
      opacity: .22; }
  .button:active {
    background-color: #d85b0c; }
    .button:active::after {
      opacity: .32; }
  
/*-----------------------------------------------------------------------------------*/
/*  02. FOOTER
/*-----------------------------------------------------------------------------------*/

footer.page-footer {
  height: 100px;
  padding: 20px;

  font-size: 16px;
  color: black;

  background-color: #FF9E00 ;
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(-45deg, transparent 50%, white 50%),
    linear-gradient(135deg, transparent 50%, #2c3e50 50%),
    linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
  background-repeat: repeat-x;
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 12px 12px;
}

.page-footer p {
  margin: 0 50px;
  font-size: 18px;
}

.page-footer h3 {
  margin: 20px;
  margin-bottom: 0; 
}

/*-----------------------------------------------------------------------------------*/
/*  03. MAIN
/*-----------------------------------------------------------------------------------*/

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;  
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
}

.skill li {
  background-color: #FF9E00;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  margin: 5px;
  color: #015367;
}

.skill li:hover {
  background-color: #FF9640;
}

.skill h3 {
  font-size: 22px;
  text-align: center;
}

.skil-img {
  display: flex;
  justify-content: space-around;
}

.skill img {
  border-radius: 5px;
  margin: 5px;
  background: #fff;
  padding: 5px;
  width: 80px;
  height: 80px;  
}

.project {
  text-indent: 20px;
  font-size: 20px;
  line-height: 1.5em;
}

.project img { 
  float: left;
  width: 250px;
  border-radius: 10px;
  margin-right: 20px; 
}

.skill,
.project {
  background: #2c3e50;
  background-image: url(img/fon.png);  
  color: white;
  box-shadow: 10px 10px 10px 0 #4575D4;

  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;

  max-width: 600px;
}

/*-----------------------------------------------------------------------------------*/
/*  04. PORTFOLIO
/*-----------------------------------------------------------------------------------*/

.portfolio-container {  
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.portfolio-main {
  display: flex;
  width: 80%;  
  flex-wrap: wrap;  
}

.portfolio-item {  
  width: 560px;
  border: 1px solid #A0A0A0;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  text-indent: 30px;
  font-size: 18px;
}

.portfolio-item img {
  width: 350px;
  border-radius: 10px;
  float: left;
  margin: 15px;
}

/*-----------------------------------------------------------------------------------*/
/*  05. BLOG
/*-----------------------------------------------------------------------------------*/

.blog {
  display: flex; 
  flex-wrap: wrap;
  padding-top: 40px;     
}

.blog-item {
  border-radius: 10px;  
  width: 650px;
  padding: 20px;
  margin: 20px auto;

  background: #2c3e50;
  background-image:
    linear-gradient(45deg, rgba(52, 73, 94, 0.5) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(52, 73, 94, 0.5) 25%, transparent 25%),
    linear-gradient(135deg, rgba(52, 73, 94, 0.5) 25%, transparent 25%),
    linear-gradient(-135deg, rgba(52, 73, 94, 0.5) 25%, transparent 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  color: white;
  box-shadow: 10px 10px 10px 0 #4575D4;

  font-size: 20px;
  line-height: 1.5em;
  text-indent: 30px; 

  position: relative;
}

.date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #C0C0C0;
}

.blog-item img {
  width: 100px;
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 10px;
}

.red {
  color: red;
}

/*-----------------------------------------------------------------------------------*/
/*  06. CONTACT
/*-----------------------------------------------------------------------------------*/

.contact {
  display: flex;
  align-items: center;
  padding: 20px;
}

.contact section {
  border-left: 1px solid;
  padding: 20px;
  margin: 40px;
  font-size: 20px;
}

.contact aside {
  order: -1;
  padding: 20px 0;
  margin-left: 50px;
}

.contact a {
  display: block;
  width: 52px;
  height: 52px;
  background: url(img/ikon.png) no-repeat;  
}

.contact .insta {
  background-position: -120px -2px;
}

.contact .git {  
  background-position: -60px -2px;
}

.contact .fb {  
  background-position: 0px -2px;
}

.contact span {
  font-weight: bold;
}