.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  font-size: 1.3em;
  text-align: center;
}

.welcome__img {    
  border-radius: 10px;  
}

.welcome__text {
  max-width: 800px;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
}

@media (min-width: 601px) {
  .welcome {
    flex-wrap: nowrap;
  }

}