/*-----------------------------------------------------------------------------------*/
/*  TABLE OF CONTENTS
/*-----------------------------------------------------------------------------------*/
/*
  00. BASE
  00.1. HEADER
  00.2. FOOTER  
  01. FOOTER
  01.1. MAIN-MENU
  01.2. LOGO
  04. MAIN
  05. FOOTER
*/

/*-----------------------------------------------------------------------------------*/
/*  00. BASE
/*-----------------------------------------------------------------------------------*/

html,
body {  
  background-color: #2c3e50;
  height: 100%;  
}

.table-layout {
  display: table;
  width: 100%;
  height: 100%;
}

header,
footer {
  display: table-row;  
}

main {
  border-spacing: 10px;
  display: table;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.content,
.side {
  display: table-cell;
}

.side {
  width: 100px;
}

a {
  text-decoration: none;
  color: white;	
}

ul {
  list-style: none;
}
/*-----------------------------------------------------------------------------------*/
/*  00.1. HEADER
/*-----------------------------------------------------------------------------------*/

header.page-header {
  position: relative;
  z-index: 5;

  height: 20px;
  padding: 20px;

  color: white;

  background-image:
    linear-gradient(45deg, #34495e 25%, transparent 25%),
    linear-gradient(-45deg, #34495e 25%, transparent 25%),
    linear-gradient(135deg, #34495e 25%, transparent 25%),
    linear-gradient(-135deg, #34495e 25%, transparent 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  box-shadow: 0 0 5px 0 #333333;
}

/*-----------------------------------------------------------------------------------*/
/*  00.2. FOOTER
/*-----------------------------------------------------------------------------------*/

footer.page-footer {
  height: 100px;
  padding: 20px;

  font-size: 16px;
  color: black;

  background-color: #FF9E00 ;
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(-45deg, transparent 50%, white 50%),
    linear-gradient(135deg, transparent 50%, #2c3e50 50%),
    linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
  background-repeat: repeat-x;
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 12px 12px;
}

/*-----------------------------------------------------------------------------------*/
/*  01.1 FOOTER MAIN-MENU
/*-----------------------------------------------------------------------------------*/
.main-menu {
  text-align: center;
}

.main-menu li {
  display: inline-block;
  margin-right: 1em;
}

.main-menu a {  
  font-size: 20px; 
  position: relative;
  display: inline-block;
  outline: none;  
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  height: 45px;  
  font-weight: 300;
  line-height: 45px; 
}

.main-menu a::before,
.main-menu a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.4s;
}

.main-menu a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.main-menu a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.main-menu a:hover::before,
.main-menu a:hover::after {
  opacity: 1;
  width: 100%;
}

.main-menu a:hover::before {
  left: 50%;
  transform: rotate(0deg) translateX(-50%);  
}

.main-menu a:hover::after {
  right: 50%;
  transform: rotate(0deg) translateX(50%);  
}

/*-----------------------------------------------------------------------------------*/
/*  01.2. LOGO
/*-----------------------------------------------------------------------------------*/

.hello {
  float: left;
}

.hello h1 {
  font-size: 60px;
  margin: 0;
  margin-left: 50px;
  margin-right: 100px;
}

.logo {
  position: absolute;
  left: 300px;    
}

.logo img {
  transform: scaleX(-1);
  width: 100px;
  height: 100px;
}

/*-----------------------------------------------------------------------------------*/
/*  02. FOOTER
/*-----------------------------------------------------------------------------------*/

.page-footer p {
  margin: 0 50px;
  font-size: 18px;
}

.page-footer h3 {
  margin: 20px;
  margin-bottom: 0; 
}

/*-----------------------------------------------------------------------------------*/
/*  02. MAIN
/*-----------------------------------------------------------------------------------*/
