.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.welcome__title {
  font-size: 1.3em;
  text-align: center;
}
.welcome__img {
  border-radius: 10px;
}
.welcome__text {
  max-width: 800px;
  font-size: 0.8em;
  line-height: 1.4;
  text-align: center;
}
@media(min-width: 610px) {  
  .welcome {
    flex-wrap: nowrap;
  }

  .welcome__box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(min-width: 768px) {  
  
  .resume {
    max-width: 410px;
    margin: auto;
  }
}

@media(min-width: 1024px) {  
  .welcome {
    justify-content: space-between;
  }
  .welcome__box {
    max-width: 670px;
  }
  
}