.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  padding: 15px;
}

@media screen and (min-width: 1024px) {
	.header__wrapper {
    max-width: 1200px;
    margin: auto;
	}
}
