.portfolio {
  max-width: 660px;
  margin: auto;
  padding: 20px;
}

.portfolio__title {
  margin: 0 0 30px;
}

.portfolio__list {
	@include list;
}

.portfolio__link {
  display: block;
  border-radius: 3px;
  overflow: hidden;
}

.portfolio__item {
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0px 0px 25px rgba(150, 149, 149, 0.5);

  &:hover {
    .portfolio__description {
      height: 100%;
      opacity: 1;
    }
  }
}

.portfolio__description {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 20px;
  color: #fff;
  background-color: #000000c4;
  transition: 0.3s ease;
  opacity: 0;
  overflow: hidden;
  text-align: center;

  h3 {
    width: 100%;
    line-height: 30px;
  }

  a {
    width: 100%;
    text-align: right;
    margin-left: auto;
    color: #fff;
    text-decoration: none;
  }
}

.portfolio__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &--page {
      flex-wrap: wrap;

      li {
        margin-bottom: 20px;
      }
    }
  }

  .portfolio__item {
    width: 48%;
  }

  .portfolio__img {
    margin-bottom: 0;
  }

  .portfolio__text {
    display: block;
  }

  .portfolio__btn {
    max-width: 220px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    max-width: 1200px;
    margin: auto;
  }

  .portfolio__img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-property: box-shadow;

    &:hover {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
  }
}
