.portfolio__title {
  position: relative;
	font-size: 1.3em;
	text-align: center;
  max-width: 300px;
  margin: auto;
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.portfolio__item {
	max-width: 300px;
	margin: 0;
}
.portfolio__img {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
	transition-property: box-shadow;
	border-radius: 3px;
	margin-bottom: 20px;
	&:hover {
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	}
}

.portfolio__title:after {
    content: "";
    display: block;
    position: absolute;
    width: 268.8px;
    height: 268.8px;
    top: -22.4px;
    left: -22.4px;
    border-radius: 50%;
    transition: all .5s;
}

.portfolio__title:hover:after {
    box-shadow: -14.56px -14.56px 0 0 rgba(255,0,0,.3), -20.384px 0 0 0 rgba(255,170,0,.3), -14.56px 14.56px 0 0 rgba(170,255,0,.3), 0 20.384px 0 0 rgba(0,255,0,.3), 14.56px 14.56px 0 0 rgba(0,255,170,.3), 20.384px 0 0 0 rgba(0,170,255,.3), 14.56px -14.56px 0 0 rgba(0,0,255,.3), 0 -20.384px 0 0 rgba(170,0,255,.3);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}


.menu {
  /* other styles */

  -webkit-filter: url("#goo");
  filter: url("../menu.html#goo");
}
