.portfolio__wrapper {
  padding: 20px;
}

.portfolio__title {
	text-align: center;
  margin: 0 0 30px;
}

.portfolio__list {
	@include list;
}

.portfolio__link {
  display: block;
}

.portfolio__img {
	border-radius: 3px;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &--page {
      flex-wrap: wrap;
    }
  }

  .portfolio__item {
    width: 48%;
  }

  .portfolio__img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__wrapper {
    max-width: 1200px;
    margin: auto;
  }

  .portfolio__img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-property: box-shadow;

    &:hover {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .portfolio__list--page {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 15px;

    .portfolio__item {
      width: 100%;

      &:nth-child(2) {
        grid-area: 1/2/3/4;
      }

      &:nth-child(3) {
        grid-area: 2/1/3/2;
      }

      &:nth-child(4) {
        grid-area: 3/1/5/3;
      }

      &:nth-child(5) {
        grid-area: 3/3/4/4;
      }

      &:nth-child(6) {
        grid-area: 4/3/5/4;
      }
    }
  }
}
