.skill__wrapper {
  padding: 20px;
}

.skill__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}

@media screen and (min-width: 1024px) {
  .skill__wrapper {
    max-width: 1400px;
    margin: auto;
  }
}
