.welcome__wrapper {
  padding: 20px;
}

.welcome__title {
  text-align: center;
}

.welcome__img {
  margin: auto;
  border-radius: 10px;
}

.welcome__text {
  line-height: 1.4;
  text-align: center;
}

@media(min-width: 768px) {
  .welcome__wrapper {
    display: flex;
  }

  .welcome__box {
    padding: 20px;
  }
}

@media(min-width: 1024px) {
  .welcome__wrapper {
    max-width: 1400px;
    margin: auto;
  }

  .welcome__box {
    max-width: 670px;
  }
}
