.page-header {
	display: flex;
	flex-wrap: wrap;	
	padding-bottom: 10px;
}

.logo {
	width: 100%;
	text-align: center;
}

.main-nav {
	display: none;
	width: 100%;
}

.page-header__btn {
	padding: 5px;
}

.main-nav__list {
	display: flex;
	flex-wrap: wrap;	
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-nav__item {
	flex-grow: 1;
	text-align: center;
}
.main-nav__link {
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	padding: 0.3em 0.4em;
	text-decoration: none;
	&:hover {
		background: linear-gradient(to right, #8a2387, #e94057, #f27121);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
