html {
	width: 100%;
}
body {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 10px 15px;
	font-family: Comfortaa, "Tahoma", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #333333;
}
img {
	max-width: 100%;
	height: auto;	
}
a {
	color: #000;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px; }